.main {
  padding: 2em;
  overflow-x: hidden;

  &__form-header {
    margin-bottom: 2em; 
  }

  &__form-title {
    font-size: 1.6rem;
  }

  &__form-sample {
    font-size: 1.4rem;
  }

  &__form {
    margin-bottom: 2em;

    &-input {
      margin-bottom: 10px;
      padding: .1em;
      display: block;
    }

    &-button {
      padding: 0.2em 1em;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &-error {
      font-style: italic;
    }
  }

  &__decrypted-title {
    margin-bottom: .2em;
  }

  &__decrypted-list {
    font-style: italic;
    margin-bottom: 1em;
  }

  &__decrypted-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
  }

  &__decrypted-table-item {
    border: 1px solid black;

    td {
      border: 1px solid black;
      padding: .5em;
    }
  }
  
  &__history-title {
    font-size: 1.6rem;
  }

  &__history-btn {
    width: 220px;
    padding: 0.2em 1em;
  }
}

@media screen and (min-width: 800px) {
  .main {
    display: flex;
    justify-content: center;

    &__left-col {
      width: 600px;
      margin-right: 1em;
    }
  }
}